*{
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5e872;
    }
    .container {
        width: 90%;
        margin: auto;
    }
    .header {
        text-align: center;
        padding: 20px;
        background-color: #010a0b;
        color: rgb(20, 190, 228);
    }
    .about-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #75e4f8;
        border-radius: 8px;
    }
    .about-text {
        width: 60%;
    }
    .about-image {
        width: 40%;
        height: 200px;
        overflow: hidden;
        background-color: rgb(118, 26, 231);
        border-radius: 8px;
    }
    .about-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .sections {
        padding: 20px;
    }
    .sections h2 {
        text-align: center;
        color: #343a40;
    }
    .buttons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-bottom: 20px;
    }
    .buttons button {
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        background-color: #28a745;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }
    .buttons button:hover {
        background-color: #218838;
    }
    .exercise-section {
        display: none;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }
    .exercise-section p1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #75e4f8;
        border-radius: 8px;
    }
}